
<div style="padding: 15px;">
  <div>
    <div class="dropzone" style="padding: 40px;" fileDragDrop (filesChangeEmitter)="onSelectFile($event)">
      <div class="text-wrapper">
        <div class="centered">
          <input type='file' (change)="onSelectFile($event)">  </div>
      </div>
    </div>
  </div>
  <hr>
  <h3 mat-subheader>Files</h3>
  <div class="row fileItem" *ngFor="let f of files; let ind = index">
    <div class="col-sm-12 fileItemIconDiv">
      <i class="fa-6x fileItemIcon"></i>
    </div>
    <br>
  </div>
  <img [src]="url" height="200" alt=""> <br/>
</div>
